
还有调试代码，这是控制台打印：
SearchResultDefault.vue:51 [SearchResultDefault] 处理网站点击: 百度 248
SearchResultDefault.vue:62 [SearchResultDefault] 触发click事件到父组件
